/* HEADER MOBILE */
.flexRowContent--container-header-mobile {
    display: flex;
    align-items: center;
    height: 63px;
    background-color: #ffffff;
    padding-inline: 30px;
}

/* Block one */
.flexColChild--container-header-mobile-block-one :global(.vtex-store-components-3-x-logoContainer) {
    padding: 0px;
}

/* Block two */
.flexRowContent--header-mobile-block-two {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.flexRowContent--header-mobile-block-two .stretchChildrenWidth :global(.vtex-login-2-x-container) {
    display: flex;
    justify-content: center;
}

.flexRowContent--header-mobile-block-two :global(.vtex-button__label),
.flexRowContent--header-mobile-block-two :global(.vtex-store-drawer-0-x-openIconContainer),
.flexRowContent--header-mobile-block-two :global(.vtex-minicart-2-x-openIconContainer) {
    padding: 0;
}

.flexRow--drawer-header {
    width: 100%;
}

.flexRowContent--drawer-header {
    justify-content: space-between;
}

.flexRow--mega-menu-mobile-option {
    padding-block: 16px;
    border-top: 1px solid #DBDBDB;
    margin-top: 40px;
}

.flexCol--mega-menu-mobile-contain-option {
    gap: 16px;
}

.flexRow--contain-mega-menu-mobile-footer {
    border-top: 1px solid #DBDBDB;
    padding-top: 29px;
    padding-bottom: 35px;
    margin-top: auto;
}