.goBackButton .goBackButtonText,
.goBackButton .caretIcon {
    color: #000000;
}

.menuItemVertical {
    border: none;
}

.menuContainerVertical {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.styledLinkContainer {
    padding: 0;
    margin: 0;
}

.styledLinkText {
    font-family: Keep Calm;
    font-size: 18px;
    line-height: 22px;
    margin-left: 8px;
}

.menuItemVertical:last-child .styledLinkContent {
    display: flex;
    align-items: center;
    width: 89px;
    height: 45px;
}

.menuItemVertical:last-child .styledLinkContent .styledLinkText {
    color: #BA1D2E;
}

.accordionIconContainer {
    margin-right: 10px;
}

.submenuContainerVertical {
    background-color: transparent;
}

.submenuContainerTitle {
    font-family: Keep Calm;
    font-size: 18px;
    line-height: 22px;
    color: #BA1D2E;
}

.submenuItemVertical {
    border: none;
}

.collapsibleHeaderText {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    color: #000000;
    margin: 0px;
}