.flexRowContent--product-page_container-summary-product {
    flex-direction: column;
    max-width: 1440px;
    margin-inline: auto;
}

.flexCol--product-page_container-summary-description {
    gap: 10px;
    padding: 9px 14px;
}

.flexColChild--product-page_container-summary-description {
    height: auto !important;
}

.flexRow--product-page_carousel-other-products {
    margin-top: 64px;
}

.flexCol--product-page_carousel-other-products-contain {
    max-width: 1440px;
    gap: 10.43px;
}

.flexRowContent--product-page_carousel-other-products-title {
    display: flex;
    padding-inline: 21px;
}

.flexRowContent--product-page_product-price {
    display: flex;
    flex-direction: column;
    gap: 24.67px;
}

.flexRow--product-page_sku-selector-guide-size {
    position: relative;
}

.flexRowContent--product-page_add-to-cart-button-wish-list {
    display: flex;
    gap: 34px;
    justify-content: start;
    align-items: center;
}

.flexRowContent--product-page_add-to-cart-button-wish-list .stretchChildrenWidth:first-child :global(.vtex-button) {
    border: none;
    border-radius: 0px;
    height: 49px;
    width: 260px;
}

.flexRowContent--product-page_add-to-cart-button-wish-list .stretchChildrenWidth:first-child :global(.vtex-button__label) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;

    color: #ffffff;
    font-family: Keep Calm;
    font-size: 14px;
    line-height: 17px;
    text-transform: initial;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    border-radius: 50%;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover,
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):active,
:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):focus {
    background-color: transparent;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
    padding: 0px;
    border: 1px solid #BA1D2E;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

:global(.vtex-wish-list-1-x-outline),
:global(.vtex-wish-list-1-x-fill) {
    visibility: hidden;
    display: flex;
    align-items: center;
}

:global(.vtex-wish-list-1-x-outline)::after {
    visibility: visible;
    content: url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 17C10 17 1 11.9091 1 5.72728C1.00018 4.63467 1.37499 3.57585 2.06069 2.73084C2.74639 1.88582 3.70067 1.30677 4.76127 1.09214C5.82187 0.877498 6.92333 1.04052 7.87839 1.55349C8.83344 2.06646 9.58314 2.89771 10 3.90591C10.4169 2.89771 11.1666 2.06647 12.1216 1.55349C13.0767 1.04052 14.1781 0.877498 15.2387 1.09214C16.2993 1.30677 17.2536 1.88582 17.9393 2.73084C18.625 3.57585 18.9998 4.63467 19 5.72728C19 11.9091 10 17 10 17Z" stroke="%23BA1D2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    padding: 4px 0px 0 2px;
}

:global(.vtex-wish-list-1-x-fill)::after {
    visibility: visible;
    content: url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 17C10 17 1 11.9091 1 5.72728C1.00018 4.63467 1.37499 3.57585 2.06069 2.73084C2.74639 1.88582 3.70067 1.30677 4.76127 1.09214C5.82187 0.877498 6.92333 1.04052 7.87839 1.55349C8.83344 2.06646 9.58314 2.89771 10 3.90591C10.4169 2.89771 11.1666 2.06647 12.1216 1.55349C13.0767 1.04052 14.1781 0.877498 15.2387 1.09214C16.2993 1.30677 17.2536 1.88582 17.9393 2.73084C18.625 3.57585 18.9998 4.63467 19 5.72728C19 11.9091 10 17 10 17Z" fill="%23BA1D2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    padding: 4px 0px 0 2px;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover :global(.vtex-wish-list-1-x-wishlistIcon)::after {
    visibility: visible;
    content: url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 17C10 17 1 11.9091 1 5.72728C1.00018 4.63467 1.37499 3.57585 2.06069 2.73084C2.74639 1.88582 3.70067 1.30677 4.76127 1.09214C5.82187 0.877498 6.92333 1.04052 7.87839 1.55349C8.83344 2.06646 9.58314 2.89771 10 3.90591C10.4169 2.89771 11.1666 2.06647 12.1216 1.55349C13.0767 1.04052 14.1781 0.877498 15.2387 1.09214C16.2993 1.30677 17.2536 1.88582 17.9393 2.73084C18.625 3.57585 18.9998 4.63467 19 5.72728C19 11.9091 10 17 10 17Z" fill="%23BA1D2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    padding: 4px 0px 0 2px;
}

.flexRow--disclosure-layout-group-container {
    margin-top: 62px;
}

.flexCol--disclosure-layout-group-contain {
    max-width: 1440px;
    margin-inline: auto;
    gap: 26px;
    padding-inline: 19.5px;
}

.flexColChild--disclosure-layout-group-contain:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 1024px) {
    .flexRowContent--product-page_container-summary-product {
        flex-direction: row;
        padding-inline: 89px;
    }

    .flexRowContent--product-page_add-to-cart-button-wish-list {
        gap: 19.95px;
    }

    .flexRow--disclosure-layout-group-container {
        margin-top: 112px;
    }

    .flexCol--disclosure-layout-group-contain {
        gap: 43px;
        padding-inline: 89px;
    }

    .flexCol--product-page_container-summary-description {
        padding: 9px 0px 9px 28px;
    }
}

@media (min-width: 1240px) {
    .flexCol--product-page_container-summary-image {
        max-width: 527px;
    }

    .flexRowContent--product-page_product-price {
        gap: 9px;
    }

    .flexRowContent--product-page_add-to-cart-button-wish-list .stretchChildrenWidth:first-child :global(.vtex-button) {
        height: 53.92px;
        width: 404.98px;
    }

    .flexRowContent--product-page_add-to-cart-button-wish-list .stretchChildrenWidth:first-child :global(.vtex-button__label) {
        font-size: 18.16px;
        line-height: 21.8px;
    }
}

@media (min-width: 1440px) {
    .flexCol--product-page_container-summary-description {
        gap: 14px;
        padding: 57px 0px 57px 98px;
    }

    .flexRow--product-page_carousel-other-products {
        margin-top: 45px;
    }

    .flexCol--product-page_carousel-other-products-contain {
        gap: 45px;
        padding-inline: 90px;
    }
}