.trigger--product-page_disclosure {
    background: #FFFFFF;
    border-radius: 0%;
    border: none;
    height: 53px;
    padding-inline: 22px;
}

.content {
    align-items: start;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
    min-height: 53px;
    padding: 0px 22px 22px;
}

.content :global(.vtex-store-components-3-x-productDescriptionTitle) {
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

@media (min-width: 1024px) {
    .trigger--product-page_disclosure {
        padding-inline: 42px;
        height: 73px;
    }
}