.paragraph--product-page_carousel-other-products-title {
    font-family: Keep Calm;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.link--product-page_carousel-other-products-view-more {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.paragraph--product-page_guide-size {
    position: absolute;
    top: 0;
    right: 0;
}

.link--product-page_guide-size {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #0062DF;
    text-decoration-color: #0062DF;
}

.paragraph--disclosure-layout-title {
    font-family: Keep Calm;
    font-size: 16px;
    line-height: 19px;
}

.paragraph--disclosure-style-product-title {
    font-family: Keep Calm;
    font-size: 14px;
    line-height: 17px;
}

.wrapper--disclosure-style-product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wrapper--disclosure-style-product-title::after {
    content: url('data:image/svg+xml,<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0V17" stroke="black" stroke-width="2"/><path d="M17.5 8.5L0.5 8.5" stroke="black" stroke-width="2"/></svg>');
}

.paragraph--disclosure-style-product-container-text {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

@media (min-width: 1024px) {
    .paragraph--product-page_carousel-other-products-title {
        font-size: 24px;
        line-height: 29px;
    }

    .link--product-page_carousel-other-products-view-more {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    .link--product-page_guide-size {
        font-size: 18px;
        line-height: 24px;
    }

    .paragraph--disclosure-layout-title {
        font-size: 24px;
        line-height: 28.8px;
    }

    .paragraph--disclosure-style-product-title {
        font-size: 18px;
        line-height: 21.6px;
    }
}