.flexCol--container-home {
    position: relative;
}

.flexRow--block-background-home {
    display: none;
    background: #fff4ec;
    height: 784px;
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 1;
}

/* BLOCK ONE */
.flexRow--block-one_notificacion-bar {
    align-items: center;
    background-color: #ba1e2e;
    display: flex;
    height: 47px;
}

.flexRowContent--block-one_container-notificacion-bar {
    align-items: center;
    display: flex;
    gap: 10.12px;
    justify-content: center;
    max-width: 1440px;
    padding-inline: 22px;
}

/* BLOCK THREE */
.flexRowContent--block-three_flexi-benefit-container {
    margin-top: 15px;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 11.05px;
}

.flexColChild--block-three_flexi-benefit {
    height: auto !important;
}

.flexColChild--block-three_flexi-benefit:last-child {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}

.flexColChild--block-three_flexi-benefit::-webkit-scrollbar {
    display: none;
}

.flexRowContent--block-three_flexi-benefits-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 39.96px;
}

.flexCol--block-three_flexi-benefit {
    gap: 33px;
}

.flexRowContent--block-three_flexi-benefits-list-card {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: start;
}

/* BLOCK FOUR */
.flexRowContent--block-four-oportunity-container {
    margin-top: 43.55px;
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
    z-index: 10;
}

.flexCol--block-four-oportunity {
    gap: 17px;
}

.flexColChild--block-four-oportunity:first-child {
    display: flex;
    justify-content: center;
}

.flexRowContent--block-four-oportunity-images-mobile {
    display: flex;
    gap: 13px;
    overflow-y: hidden;
}

.flexRowContent--block-four-oportunity-images-mobile::-webkit-scrollbar {
    display: none;
}

.flexRowContent--block-four-oportunity-images-desktop {
    gap: 20px;
    overflow-y: hidden;
}

.flexRowContent--block-four-oportunity-images-desktop::-webkit-scrollbar {
    display: none;
}

@media (max-width: 639px) {
    .flexRowContent--block-four-oportunity-images {
        display: flex;
        width: 210vw;
    }

    .flexRow--block-four-oportunity-images {
        width: 100vw;
        margin: 0 auto;
        overflow-x: auto;
    }

    .flexRow--block-four-oportunity-images::-webkit-scrollbar {
        display: none;
    }

    .flexRow--block-four-oportunity-images::-webkit-scrollbar-thumb {
        display: none;
    }

    .flexRow--block-four-oportunity-images::-webkit-scrollbar-track {
        display: none;
    }
}

/* BLOCK FIVE */
.flexRowContent--block-five-found-shoes-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 52px;
    max-width: 1440px;
    padding-inline: 18px;
    position: relative;
    z-index: 10;
}

/* BLOCK SIX */
.flexRow--block-six_carousel-offer-container {
    margin-top: 86px;
    position: relative;
    z-index: 10;
}

.flexCol--block-six_carousel-offer-contain {
    max-width: 1440px;
    gap: 10.43px;
}

.flexRowContent--block-six_carousel-offer-title {
    display: flex;
    padding-inline: 21px;
    align-items: center;
}

/* BLOCK SEVEN */
.flexRow--block-seven_advertisement-product-container {
    margin-top: 50px;
}

.flexCol--block-seven_advertisement-product {
    max-width: 1440px;
}

.flexRowContent--block-seven_advertisement-product-container-mobile {
    display: flex;
    gap: 8px;
    overflow-y: scroll;
}

.flexRowContent--block-seven_advertisement-product-container-mobile::-webkit-scrollbar {
    display: none;
}

.flexRow--block-seven_advertisement-product-container-desktop {
    max-width: 1440px;
    margin-inline: auto;
}

.flexRowContent--block-seven_advertisement-product-container {
    gap: 20px;
}

@media (max-width: 1000px) {
    .flexRowContent--block-seven_advertisement-product-container {
        display: flex;
        width: 150vw;
    }

    .flexRow--block-seven_advertisement-product-container {
        width: 100vw;
        overflow-x: auto;
    }

    .flexRow--block-seven_advertisement-product-container::-webkit-scrollbar {
        display: none;
    }

    .flexRow--block-seven_advertisement-product-container::-webkit-scrollbar-thumb {
        display: none;
    }

    .flexRow--block-seven_advertisement-product-container::-webkit-scrollbar-track {
        display: none;
    }

    .flexRowContent--block-seven_advertisement-product-container {
        gap: 15px;
    }

    .flexRow--block-seven_advertisement-product-container {
        margin-top: 30px;
    }
}

@media (max-width: 639px) {
    .flexRowContent--block-seven_advertisement-product-container {
        gap: 10px;
    }
}

/* BLOCK EIGHT */
.flexRow--block-eight_carousel-outstanding-container {
    margin-top: 52.29px;
}

.flexCol--block-eight_carousel-outstanding-contain {
    max-width: 1440px;
    gap: 10.43px;
}

.flexRowContent--block-eight_carousel-outstanding-title {
    display: flex;
    padding-inline: 21px;
}

@media (min-width: 768px) {
    .flexRowContent--block-seven_advertisement-product-container-mobile {
        display: flex;
        gap: 10px;
        justify-content: center;
        overflow-y: initial;
    }
}

@media (min-width: 1024px) {
    .flexRow--block-background-home {
        top: 24%;
    }

    /* BLOCK ONE */
    .flexRow--block-one_notificacion-bar {
        height: 32px;
    }

    /* BLOCK THREE */
    .flexRowContent--block-three_flexi-benefit-container {
        margin-top: 30px;
    }

    /* BLOCK FOUR */
    .flexRowContent--block-four-oportunity-container {
        padding-inline: 90px;
    }

    .flexColChild--block-four-oportunity:first-child {
        justify-content: start;
    }

    /* BLOCK FIVE */
    .flexRowContent--block-five-found-shoes-container {
        padding-inline: 90px;
    }

    /* BLOCK SIX */
    .flexRowContent--block-six_carousel-offer-title {
        padding-inline: 0px;
    }

    /* BLOCK EIGHT */
    .flexRowContent--block-eight_carousel-outstanding-title {
        padding-inline: 0px;
    }
}

@media (min-width: 1440px) {
    /* BLOCK THREE */
    .flexRowContent--block-three_flexi-benefit-container {
        padding-inline: 82px;
    }

    .flexRowContent--block-three_flexi-benefits-list {
        gap: 78px;
    }

    .flexCol--block-three_flexi-benefit {
        gap: 48px;
    }

    .flexRowContent--block-three_flexi-benefits-list-card {
        gap: 16.1px;
    }

    .flexRowContent--block-four-oportunity-container {
        margin-top: 68px;
    }

    /* BLOCK SIX */
    .flexRow--block-six_carousel-offer-container {
        margin-top: 88px;
    }

    .flexCol--block-six_carousel-offer-contain {
        gap: 45px;
        padding-inline: 90px;
    }

    /* BLOCK SEVEN */
    .flexRow--block-seven_advertisement-product-container {
        margin-top: 69px;
    }

    /* BLOCK EIGHT */
    .flexRow--block-eight_carousel-outstanding-container {
        margin-top: 88px;
    }

    .flexCol--block-eight_carousel-outstanding-contain {
        gap: 45px;
        padding-inline: 90px;
    }
}
