.vtex-store-components-3-x-imageElement--cards-products-image-block-two{
    width: 87px;
    height: 66px;
}
.vtex-store-components-3-x-imageElement--cards-products-image-block-two{
    width: 87px;
    height: 30px;
}