.flexRowContent--cards-products-block-two_container {
    display: flex;
    overflow-y: scroll;
}

.flexCol--products-block-two-card{
    border: 1px solid red;
    width: 300px !important;
    height: 173px;
}
.flexRowContent--cards-products-block-two-image{
    display: flex;
}
.flexRowContent--cards-products-block-two-image .stretchChildrenWidth{
    width: auto !important;

}