/* Block one */
.paragraph--footer-block-one-title {
    font-family: Keep Calm;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    margin: 0;
}

.paragraph--footer-block-one-text {
    font-family: Avenir;
    font-size: 16px;
    line-height: 25.44px;
    text-align: center;
    color: #7E818B;
    margin: 0;
    max-width: 326px;
}

/* Block two */
.paragraph--footer-block-two_card-one-title,
.paragraph--footer-block-two_card-two-title,
.paragraph--footer-block-two_card-three-title {
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-family: Keep Calm;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #00000066;
    opacity: 0.7;
}

.paragraph--footer-block-two_card-one-title::before {
    content: url('data:image/svg+xml,<svg width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 15.8174V19.8209C1 20.8217 1.82929 21.651 2.83015 21.651H4.88907C5.31801 21.651 5.68976 21.8512 5.91853 22.2229C6.69062 23.4526 8.60656 26.2836 9.95058 27.3988C10.2365 27.6276 10.4081 27.9993 10.4081 28.3711V32.7177C10.4081 33.404 10.9514 33.9473 11.6377 33.9473H15.87C16.5563 33.9473 17.0996 33.404 17.0996 32.7177V31.5738C17.0996 29.6865 18.6152 28.1709 20.5025 28.1709C22.3899 28.1709 23.9055 29.6865 23.9055 31.5738V33.8615H29.9392C30.6255 33.8615 31.1689 33.3182 31.1689 32.6319V28.4855C31.1689 28.1423 31.3119 27.7992 31.5692 27.5704C33.0562 26.255 37.9462 21.3078 36.8309 14.7879C35.5155 7.15278 24.2772 1.37637 17.4713 3.97862L16.8136 4.26458L11.9237 1.11901C11.409 0.804451 10.7513 1.1476 10.7513 1.74812V6.66665C10.7513 6.66665 6.20449 11.6996 5.80414 13.1008L4.97486 13.9301L2.77296 13.9873C1.80069 13.9873 1 14.8165 1 15.8174Z" stroke="%2300000066" stroke-width="2.00173" stroke-miterlimit="10"/><path d="M13.0961 15.2449C14.0121 15.2449 14.7546 14.5023 14.7546 13.5863C14.7546 12.6703 14.0121 11.9277 13.0961 11.9277C12.1801 11.9277 11.4375 12.6703 11.4375 13.5863C11.4375 14.5023 12.1801 15.2449 13.0961 15.2449Z" fill="%2300000066"/><path d="M24.3413 10.5642C24.8059 10.5642 25.2876 10.6239 25.7866 10.7433C26.2856 10.8626 26.7243 11.0715 27.1029 11.37L25.864 12.8663C25.6576 12.6873 25.421 12.5594 25.1543 12.4826C24.8876 12.3974 24.6166 12.3462 24.3413 12.3292V14.3627L25.5801 14.7208C26.1479 14.8913 26.5996 15.1727 26.9351 15.5649C27.2792 15.9486 27.4513 16.4389 27.4513 17.0357C27.4513 17.4876 27.3695 17.8841 27.2061 18.2251C27.0426 18.5662 26.819 18.8561 26.5351 19.0948C26.2512 19.3336 25.9199 19.5212 25.5414 19.6576C25.1629 19.794 24.7629 19.8835 24.3413 19.9262V20.8214H23.4896V19.9262C22.9218 19.9262 22.354 19.8494 21.7862 19.6959C21.2271 19.5425 20.7324 19.2739 20.3022 18.8902L21.6701 17.3682C21.8938 17.6411 22.1648 17.8372 22.4831 17.9566C22.8014 18.0674 23.1369 18.1356 23.4896 18.1612V15.9998L22.5476 15.7184C21.8938 15.5138 21.3948 15.2281 21.0507 14.8615C20.7152 14.4863 20.5474 13.9748 20.5474 13.3268C20.5474 12.926 20.6292 12.5636 20.7926 12.2396C20.9561 11.9156 21.1711 11.6385 21.4378 11.4083C21.7131 11.1781 22.0271 10.9905 22.3799 10.8456C22.7412 10.7006 23.1111 10.6068 23.4896 10.5642V9.66895H24.3413V10.5642ZM23.4896 12.3675C23.2487 12.4187 23.0337 12.5082 22.8444 12.6361C22.6551 12.764 22.5605 12.9644 22.5605 13.2372C22.5605 13.4333 22.5992 13.5868 22.6767 13.6976C22.7541 13.8085 22.8444 13.898 22.9476 13.9662C23.0509 14.0259 23.1541 14.0685 23.2573 14.0941C23.3606 14.1197 23.438 14.141 23.4896 14.1581V12.3675ZM24.3413 18.1356C24.4704 18.11 24.5994 18.0759 24.7284 18.0333C24.8661 17.9821 24.9865 17.9182 25.0898 17.8415C25.193 17.7647 25.2747 17.6752 25.335 17.5729C25.4038 17.462 25.4382 17.3341 25.4382 17.1892C25.4382 17.0528 25.4124 16.9377 25.3608 16.8439C25.3177 16.7501 25.2575 16.6733 25.1801 16.6137C25.1027 16.5455 25.0123 16.49 24.9091 16.4474C24.8059 16.3962 24.6983 16.3493 24.5865 16.3067L24.3413 16.2172V18.1356Z" fill="%2300000066"/></svg>')
}

.paragraph--footer-block-two_card-two-title::before {
    content: url('data:image/svg+xml,<svg width="38" height="28" viewBox="0 0 38 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.27223 1.0293C7.13416 1.0293 7.01581 1.12795 6.99095 1.26376L2.52027 25.6848C2.48812 25.8605 2.62301 26.0223 2.80156 26.0223H34.3084C34.489 26.0223 34.6244 25.8569 34.5887 25.6799L29.671 1.25881C29.6441 1.12532 29.5268 1.0293 29.3907 1.0293H7.27223Z" stroke="%2300000066" stroke-width="2.00173" stroke-miterlimit="10"/><path d="M5.74695 7.83392H1.57192C1.25606 7.83392 1 7.57786 1 7.262V1.62856C1 1.3127 1.25606 1.05664 1.57192 1.05664H35.5441C35.8599 1.05664 36.116 1.3127 36.116 1.62856V7.262C36.116 7.57786 35.8599 7.83392 35.5441 7.83392H31.0259" stroke="%2300000066" stroke-width="2.00173" stroke-miterlimit="10"/><path d="M10.2939 21.0745L13.3823 1" stroke="%2300000066" stroke-width="2.00173" stroke-miterlimit="10" stroke-linecap="round"/></svg>')
}

.paragraph--footer-block-two_card-three-title::before {
    content: url('data:image/svg+xml,<svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.8643 1.94336H28.8218C28.9797 1.94336 29.1077 2.07139 29.1077 2.22932V33.7136C29.1077 33.8715 28.9797 33.9996 28.8218 33.9996H6.17366C6.01572 33.9996 5.8877 33.8715 5.8877 33.7136V20.6452" stroke="%2300000066" stroke-width="2.00173" stroke-miterlimit="10"/><path d="M12.2715 7.32862C12.736 7.32862 13.2178 7.3883 13.7168 7.50767C14.2157 7.62704 14.6545 7.83594 15.033 8.13436L13.7942 9.63073C13.5877 9.45168 13.3512 9.32378 13.0845 9.24705C12.8178 9.16178 12.5468 9.11063 12.2715 9.09357V11.1271L13.5103 11.4852C14.0781 11.6557 14.5298 11.9371 14.8653 12.3293C15.2094 12.713 15.3814 13.2033 15.3814 13.8001C15.3814 14.252 15.2997 14.6485 15.1363 14.9895C14.9728 15.3306 14.7491 15.6205 14.4652 15.8592C14.1813 16.098 13.8501 16.2856 13.4716 16.422C13.0931 16.5584 12.693 16.6479 12.2715 16.6906V17.5858H11.4198V16.6906C10.852 16.6906 10.2842 16.6138 9.71642 16.4603C9.15724 16.3069 8.66257 16.0383 8.23242 15.6546L9.60029 14.1326C9.82396 14.4055 10.095 14.6016 10.4133 14.721C10.7316 14.8318 11.0671 14.9 11.4198 14.9256V12.7642L10.4778 12.4828C9.82396 12.2782 9.32499 11.9925 8.98088 11.6259C8.64536 11.2507 8.4776 10.7392 8.4776 10.0912C8.4776 9.69042 8.55933 9.32805 8.72279 9.00405C8.88624 8.68004 9.10132 8.40294 9.36801 8.17273C9.6433 7.94251 9.95731 7.75493 10.31 7.60999C10.6713 7.46504 11.0413 7.37125 11.4198 7.32862V6.43335H12.2715V7.32862ZM11.4198 9.13194C11.1789 9.1831 10.9638 9.27263 10.7746 9.40052C10.5853 9.52842 10.4907 9.72879 10.4907 10.0016C10.4907 10.1977 10.5294 10.3512 10.6068 10.4621C10.6843 10.5729 10.7746 10.6624 10.8778 10.7306C10.9811 10.7903 11.0843 10.8329 11.1875 10.8585C11.2908 10.8841 11.3682 10.9054 11.4198 10.9225V9.13194ZM12.2715 14.9C12.4005 14.8744 12.5296 14.8403 12.6586 14.7977C12.7963 14.7465 12.9167 14.6826 13.0199 14.6059C13.1232 14.5291 13.2049 14.4396 13.2651 14.3373C13.334 14.2264 13.3684 14.0985 13.3684 13.9536C13.3684 13.8172 13.3426 13.7021 13.2909 13.6083C13.2479 13.5145 13.1877 13.4378 13.1103 13.3781C13.0328 13.3099 12.9425 13.2544 12.8393 13.2118C12.736 13.1606 12.6285 13.1138 12.5167 13.0711L12.2715 12.9816V14.9Z" fill="%2300000066"/><circle cx="11.6642" cy="12.1525" r="10.1516" stroke="%2300000066" stroke-width="2.00173"/></svg>');
}

.paragraph--footer-block-two_card-one-text,
.paragraph--footer-block-two_card-two-text,
.paragraph--footer-block-two_card-three-text {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #00000066;
}

/* Block three */
.paragraph--footer-block-three_section-one-title {
    font-family: Keep Calm;
    font-size: 17px;
    line-height: 20px;
    color: #403128;
}

.paragraph--footer-block-three_section-one-text {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #403128;
}

/* Block four */
.paragraph--footer-block-four-section-one {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #403128;
}

.paragraph--footer-block-four-section-three {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #403128;
}

@media (min-width: 768px) {

    /* Block three */
    .paragraph--footer-block-three_section-one-text {
        max-width: 197px;
    }
}

@media (min-width: 1024px) {

    /* Block one */
    .paragraph--footer-block-one-title {
        font-size: 20px;
    }

    .paragraph--footer-block-one-text {
        line-height: 28.88px;
        max-width: 540px;
    }

    /* Block two */
    .paragraph--footer-block-two_card-one-title,
    .paragraph--footer-block-two_card-two-title,
    .paragraph--footer-block-two_card-three-title {
        opacity: 100%;
        font-size: 17px;
        line-height: 20px;
    }

    .paragraph--footer-block-two_card-one-text,
    .paragraph--footer-block-two_card-two-text {
        line-height: 28.88px;
    }

    /* Block four */
    .paragraph--footer-block-four-section-one {
        font-size: 12px;
        line-height: 22px;
    }

    .paragraph--footer-block-four-section-three {
        font-size: 12px;
        line-height: 16px;
    }
}