.flexCol--container-footer {
    gap: 36px;
}

.flexCol--container-footer-block-one,
.flexRowContent--footer-block-two_container-cards {
    padding-inline: 20px;
}


/* Block one */
.flexCol--container-footer-block-one {
    align-items: center;
    gap: 7px;
}

/* Block two */
.flexRowContent--footer-block-two_container-cards {
    display: flex;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.flexCol--footer-block-two-card {
    height: 240px;
    width: 255px !important;
    border: 1px solid #29665D;
    box-sizing: border-box;
    padding: 28px 14px;
    gap: 6px;
}

/* Block three */
.flexRowContent--container-footer-block-three {
    background-color: #F6EEE8;
    padding: 42.87px 20px 22px;
}

.flexCol--elements-footer-block-three {
    flex-wrap: wrap;
    gap: 40.82px;
    max-width: 1440px;
}


/* Section two */
.flexRowContent--container-footer-block-three_section-two,
.flexRowContent--container-footer-block-three_section-three {
    justify-content: start;
    gap: 27px;
}

.flexCol--container-footer-block-three_section-one {
    gap: 14.29px;
}

.flexRowContent--newsletter-content-inputs {
    display: flex;
}

.flexCol--footer-block-three_section-two_about-us,
.flexCol--footer-block-three_section-two_menu,
.flexCol--footer-block-three_section-three_help,
.flexCol--footer-block-three_section_follow-us {
    gap: 3.7px;
}

.flexCol--footer-block-three_section-two_sub-about-us,
.flexCol--footer-block-three_section-two_sub-menu,
.flexCol--footer-block-three_section-three_sub-help,
.flexCol--footer-block-three_section-three_sub-follow-us {
    gap: 10px;
}

.flexColChild--elements-footer-block-three,
.flexColChild--footer-block-three_section-two_menu,
.flexColChild--footer-block-three_section_follow-us {
    height: auto !important;
}

@media (min-width: 768px) {

    /* Block two */
    .flexRowContent--footer-block-two_container-cards {
        gap: 42px;
        justify-content: center;
        overflow: initial;
    }

    /* Block three */
    .flexCol--elements-footer-block-three {
        flex-direction: row;
    }

    .flexCol--elements-footer-block-three .flexCol--container-footer-block-three_section-one {
        margin-right: 29px;
    }

    .flexCol--container-footer-block-three_section-one {
        gap: 19px;
    }

    .flexRowContent--container-footer-block-three {
        padding: 56px 44px;
    }
}

@media (min-width: 1024px) {
    .flexCol--container-footer {
        gap: 54px;
    }

    /* Block one */
    .flexCol--container-footer-block-one {
        gap: 16px;
    }

    /* Block two */
    .flexCol--footer-block-two-card {
        height: 242px;
        width: 407px !important;
        padding: 21px 27px;
        gap: 16px;
    }

    .flexRowContent--footer-block-two_container-cards {
        gap: 42px
    }

    /* Block three */
    .flexCol--elements-footer-block-three {
        justify-content: center;
        gap: 69px;
    }

    .flexCol--elements-footer-block-three .flexCol--container-footer-block-three_section-one {
        margin-right: 58px;
    }

    .flexRowContent--container-footer-block-three {
        padding: 76px 91px;
    }

    .flexCol--footer-block-three_section-two_about-us,
    .flexCol--footer-block-three_section-two_menu,
    .flexCol--footer-block-three_section-three_help,
    .flexCol--footer-block-three_section_follow-us {
        gap: 8px;
    }

    .flexCol--footer-block-three_section-two_sub-about-us,
    .flexCol--footer-block-three_section-two_sub-menu,
    .flexCol--footer-block-three_section-three_sub-help,
    .flexCol--footer-block-three_section-three_sub-follow-us {
        gap: 5px;
    }

    .flexRowContent--container-footer-block-three_section-two,
    .flexRowContent--container-footer-block-three_section-three {
        gap: 69px;
    }
}