.flexRow--search-result-layout_content-filters-searchResult {
    max-width: 1440px;
    margin: auto;
}

.flexRowContent--search-result-layout_title-total-products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.flexRowContent--search-result-layout_options-filtered-orderby {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flexRowContent--search-result-layout_options-filtered-orderby .stretchChildrenWidth {
    width: 168px !important;
    height: 49px;
    border: 1px solid #0000006E;
    border-radius: 0%;
    box-sizing: content-box;
}

.flexCol--search-result-layout_content-filters-searchResult-mobile {
    gap: 25px;
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 25px;
    padding-inline: 6px;
}

.flexColChild--search-result-layout_content-filters-searchResult-desktop-1 {
    width: 300px;
    background-color: #FFFFFF;
    height: auto !important;
}

.flexColChild--search-result-layout_content-filters-searchResult-desktop-1:first-child {
    padding: 17px 17px 20px 17px;
    border-bottom: 1px solid #C8C8C8;
}

.flexRowContent--search-result-layout_content-filters-searchResult {
    justify-content: center;
}

.flexRowContent--search-result-layout_content-filters-searchResult-desktop-container {
    padding-block: 50px;
    padding-inline: 90px;
    justify-content: start;
    max-width: 1440px;
    margin-inline: auto;
    gap: 20px;
}

@media (min-width: 1024px) {
    .flexRowContent--search-result-layout_title-total-products {
        justify-content: start;
    }

    .flexRowContent--search-result-layout_content-filters-searchResult-desktop-container {
        padding-inline: 20px;
    }
}

@media (min-width: 1920px) {
    .flexRowContent--search-result-layout_content-filters-searchResult-desktop-container {
        padding-inline: 0px;
    }
}