.totalProductsMessage {
    display: none;
}

.totalProducts--layout {
    padding: 0px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #4E4E4E;
}

.filterPopupButton {
    flex-direction: row-reverse;
    gap: 8px;
}

.filterPopupButton .filterPopupTitle {
    text-transform: capitalize;
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-left: 0px;
}

.filterPopupButton .filterPopupArrowIcon {
    margin-left: 0px;
}

.orderByDropdown {
    padding: 0px;
}

.orderByButton {
    justify-content: center;
    height: 48px;
}

.orderByButton .orderByText {
    display: block;
    text-transform: initial;
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.orderByButton .filterPopupArrowIcon {
    display: none;
}

.buttonShowMore :global(.vtex-button) {
    width: 167px;
    height: 49px;
    background-color: #BA1D2E;
    color: #FFFFFF;
    border-radius: 0%;
}

.buttonShowMore :global(.vtex-button) :global(.vtex-button__label) {
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    visibility: hidden;
    position: relative;
    text-transform: initial;
}

.buttonShowMore :global(.vtex-button) :global(.vtex-button__label)::after {
    visibility: visible;
    position: absolute;
    content: "Cargar más";
}

.flexRowContent--search-result-layout_content-filters-searchResult-desktop-container {
    padding-block: 50px;
}

.filterContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterTitleSpan {
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #000000;
}

.filterItem :global(.vtex-checkbox__line-container) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.filterItem :global(.vtex-checkbox__label) {
    font-family: Keep Calm;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    width: auto;
}

.filter__container--talla .filterContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.filter__container--talla .filterContent .filterItem {
    width: auto;
}

.filter__container--talla .filterContent :global(.vtex-checkbox__line-container) {
    justify-content: start;
    flex-direction: row;
}

.filter .filterIcon {
    padding: 0;
}

.filterItem :global(.vtex-checkbox__container) {
    margin: 0px;
}

.filter__container--talla .filterItem :global(.vtex-checkbox__container) {
    margin-right: 8px;
}

.filter__container--selectedFilters .filterTitleSpan {
    text-transform: initial;
    position: relative;
    line-height: 16.8px;
    visibility: hidden;
}

.filter__container--selectedFilters .filterTitleSpan::before {
    visibility: visible;
    content: "Filtrar por";
}

.filter__container--selectedFilters :global(.vtex-checkbox__line-container) {
    height: 42px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    gap: 10.79px;
    padding-inline: 16px;
}

.filter__container--selectedFilters .filterItem {
    width: auto;
}

.filter__container--selectedFilters .filterTemplateOverflow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter__container--selectedFilters :global(.vtex-checkbox__label) {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #BA1D2E;
    white-space: nowrap;
}

.filter__container--selectedFilters :global(.vtex-checkbox__container) {
    display: flex;
    align-items: center;
}

.filter__container--selectedFilters :global(.vtex-checkbox__inner-container),
.filter__container--selectedFilters :global(.vtex-checkbox__box-wrapper) {
    visibility: hidden;
}

.filter__container--selectedFilters :global(.vtex-checkbox__container)::after {
    visibility: visible;
    content: url('data:image/svg+xml,<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.73407 3.26562L8.2019 8.73345" stroke="%23BA1D2E" stroke-width="1.76874" stroke-linecap="round"/><path d="M8.2016 3.26562L2.73377 8.73345" stroke="%23BA1D2E" stroke-width="1.76874" stroke-linecap="round"/></svg>');
}

.filter__container--title {
    display: none;
}

.galleryTitle--layout {
    text-transform: capitalize;
    margin: 0px;
    font-family: Keep Calm;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
}

@media(min-width: 1024px) {
    .orderByButton .filterPopupArrowIcon {
        display: unset;
        padding-right: 0px;
    }

    .totalProducts--layout {
        font-size: 18px;
        line-height: 24px;
    }

    .orderByButton {
        justify-content: space-around;
        width: 193.15px;
        height: 41px;
        border: 1px solid #7F7F7F;
        border-radius: 0%;
    }

    .gallery--grid {
        padding: 0px;
    }
}