:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-container-pdp) {
    background-color: #EEE4DE;
    height: 36px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-container-pdp) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    display: flex;
    align-items: center;
}

.container {
    align-items: center;
    display: flex;
    padding: 0 0 0 29px;
    height: 36px;
    max-width: 1440px;
}

.homeLink {
    padding: 0px;
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 13px;
}

.link {
    color: #403128;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.link:hover,
.link:focus,
.link:active {
    color: #403128;
}

.link:not(:first-child) {
    display: flex;
    align-items: center;
    height: 22.55px;
    border-left: 1.5px solid #403128;
    padding-left: 13px;

    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.arrow:last-child .link {
    font-weight: 800 !important;
}

.caretIcon {
    display: none;
}

.term {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-family: Avenir;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: #403128;
    padding-left: 13px;
    border-left: 1.5px solid #403128;
}

@media (min-width: 1024px) {
    .container {
        padding-left: 30px;
    }

    .link:not(:first-child) {
        font-size: 14px;
    }

    .link {
        font-size: 14px;
        line-height: 19.12px;
    }
}

@media (min-width: 1240px) {
    .container {
        padding-left: 50px;
    }
}

@media (min-width: 1440px) {
    .container {
        min-width: 1440px;
        margin-inline: auto;
    }
}