.paragraph--nearest-store__container-form-title {
    color: #070707;
    font-family: Keep Calm;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.paragraph--nearest-store__container-form-subtitle {
    color: #070707;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.paragraph--nearest-store__container-info-adress-title,
.paragraph--nearest-store__container-info-phone-title,
.paragraph--nearest-store__container-info-email-title {
    color: #070707;
    font-family: Keep Calm;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.paragraph--nearest-store__container-info-adress,
.paragraph--nearest-store__container-info-phone,
.link--nearest-store__container-info-email {
    color: #070707;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 1240px) {
    .paragraph--nearest-store__container-form-title {
        font-size: 24px;
    }

    .paragraph--nearest-store__container-form-subtitle {
        font-size: 20px;
    }

}