h1#orderform-title {
  display: none !important;
}

#client-profile-data form.form-page.client-pre-email {
  border: none;
  background-color: #FFFAF7;

  .link.link-cart {
    display: none;
  }

  fieldset.pre-email {
    padding: 0 15px;
  }

  h3.client-pre-email-h label {
    margin: 25px 0;
    @media (min-width: 1024px) {
      margin: 50px 0;
    }

    span {
      font-size: 0;

      &::before {
        content: 'Ingresa tu correo electrónico para continuar con tu compra';
        color: #000;
        font-family: Keep Calm;
        font-size: 20.77px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (min-width: 1024px) {
        font-size: 24px;
        }

      }
    }

    small {
      display: none;
    }
  }

  .client-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 406px;
    margin: 0 auto;
    max-width: 500px;
    position: inherit;
    float: none;
    gap: 20px;
    @media (max-width: 600px) {
      width: 342px;
    }

    input.input-block-level {
      height: 50px;
      padding: 0px 10.524px 0px 15.034px;
      border-radius: 0%;

      &::placeholder {
        color: rgba(72, 84, 103, 0.49);
        font-family: Avenir;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 165.5%;
      }


    }
  }

  .btn-success {
    position: inherit;
    background: #BA1D2E;
    padding: 16px;
    width: 100%;

    span {
      color: #FFF;
      font-family: Keep Calm;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .emailInfo {
    background: none;
    border: none;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;

    &>h3,
    &>ul,
    &>i {
      display: none;
    }
  }
}