/* KeepCalm */
@font-face {
  font-family: "KeepCalm";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("KeepCalm"), local("KeepCalm-Medium"),
    url("/arquivos/KeepCalm-Medium.woff2.css") format("woff2"),
    url("/arquivos/KeepCalm-Medium.woff") format("woff");
}

/* **************************************************************************************************************************************************** */
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Book"),
    url("/arquivos/Avenir-Book.woff") format("woff"),
    url("/arquivos/Avenir-Book.woff2.css") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Roman"),
    url("/arquivos/Avenir-Roman.woff") format("woff"),
    url("/arquivos/Avenir-Roman.woff2.css") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Medium"),
    url("/arquivos/Avenir-Medium.woff") format("woff"),
    url("/arquivos/Avenir-Medium.woff2.css") format("woff2");
}


@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Black"),
    url("/arquivos/Avenir-Black.woff") format("woff"),
    url("/arquivos/Avenir-Black.woff2.css") format("woff2");
}