.mini-cart {
  h2 {
    color: #000;
    font-family: Keep Calm;
    font-size: 18.041px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #FFF;
    text-align: left;
  }

  .cart-fixed.cart-fixed-transition {
    width: 100%;
    border-radius: 1px;
    border: 0.752px solid rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    background: #FFF;
    position: relative !important;
    height: auto !important;
  }

  .product-name {
    color: #000;
    font-family: Keep Calm;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.1%;
  }

  .summary-template-holder {
    margin-top: 20px;
    background: none;
    border-radius: 1px;
    border: 0.752px solid rgba(0, 0, 0, 0.20);
  }

  table.table {
    display: block;

    .empty {
      display: none;
    }

    tbody.totalizers-list {
      display: block;
      margin: 5px 10px;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.Shipping {
          display: none;
        }

        td.info {
          color: #7A7A7A;
          font-family: Keep Calm;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;
          width: auto;
        }

        td.monetary {
          color: #7A7A7A;
          font-family: Avenir;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;
          width: auto;
        }
      }
    }

    tfoot {
      display: block;
      padding-top: 5px;
      border-top: 0.5px solid #8b8b8b;
      margin: 10px;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        td.info {
          color: #000;
          font-family: Keep Calm;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;
          width: auto;
        }

        td.monetary {
          color: #000;
          font-family: Avenir;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          white-space: nowrap;
          width: auto;
        }
      }
    }
  }

  a#orderform-minicart-to-cart,
  a#cart-link-note-add {
    display: none;
  }

  .payment-confirmation-wrap {
    border: none;
  }
}