div#shipping-data {
  i.icon-home {
    display: none;
  }

  .accordion-group .accordion-heading {
    color: #000;
    font-family: Keep Calm;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 102.667%;
  }

  .accordion-inner {
    .input {
      label {
        font-family: Avenir;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 79.102%;
        margin-bottom: 5px;
      }

      select {
        height: 49.613px;
        border-radius: 0%;

        option {
          color: #000;
          font-family: Avenir;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 165.5%;
        }
      }
    }

    p {
      color: rgba(0, 0, 0, 0.50);
      font-family: Avenir;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 79.102%;
    }

    .vtex-omnishipping-1-x-address {
      p {
        margin-bottom: 5px;
      }

      input {
        height: 50px;
        border-radius: 0%;
      }
    }

    .shp-summary-group-address {

      span {
        font-family: Avenir;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

  }

  .vtex-omnishipping-1-x-deliveryChannelsToggle {
    background: #BA1D2E;
    ;
    border: solid 1px #BA1D2E;
    ;
  }

  .vtex-omnishipping-1-x-geolocation,
  .vtex-omnishipping-1-x-addressForm {

    .address-summary {
      display: flex;
      align-items: center;
      gap: 10px;
      background-position-y: center;
    }

    p,
    span:not(.vtex-omnishipping-1-x-unavailableIcon) {
      width: auto !important;
    }

    input {
      width: 100%;
      height: 50px;
      border: 1px solid rgba(72, 84, 103, 0.6);
      border-radius: 0px;

      font-family: Avenir;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 165.5%;
    }
  }

  .shipping-summary-info {
    font-size: 0;

    &::before {
      content: 'Falta llenar datos';
      color: rgba(0, 0, 0, 0.50);
      font-family: Avenir;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 79.102%;
    }
  }

  button#btn-go-to-payment {
    width: 100%;
    height: 50px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BA1D2E;

    &::before {
      content: 'Continuar';
      color: #FFF;
      font-family: Keep Calm;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  a#open-shipping {
    background: #BA1D2E;
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    border-radius: 0%;
    color: #FFF;
    font-family: Keep Calm;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}