.minicartWrapperContainer :global(.vtex-button):hover,
.minicartWrapperContainer :global(.vtex-button):active,
.minicartWrapperContainer :global(.vtex-button):focus {
    background-color: transparent;
}

.minicartQuantityBadge {
    background-color: #BA1D2E;
}

.drawer {
    width: 100% !important;
}

.drawerContent {
    background-color: #F6EEE8;
}

.minicartTitle {
    display: none;
}

.closeIconButton {
    align-items: start;
    bottom: -20px;
    display: flex;
    left: 2px;
    position: relative;
    visibility: hidden;
}

.closeIconButton::after {
    content: url('data:image/svg+xml,<svg width="90" height="21" viewBox="0 0 90 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39.197 13.4748C38.4956 14.3282 37.6421 15.0063 36.6367 15.509C35.643 16.0117 34.544 16.263 33.3399 16.263C32.2994 16.263 31.3232 16.076 30.4113 15.7019C29.4994 15.3161 28.7044 14.7958 28.0264 14.1412C27.3483 13.4865 26.8105 12.7207 26.413 11.8439C26.0272 10.9554 25.8343 10.0026 25.8343 8.98548C25.8343 7.96837 26.0272 7.02141 26.413 6.14459C26.8105 5.25609 27.3483 4.48449 28.0264 3.8298C28.7044 3.16342 29.4994 2.64318 30.4113 2.26907C31.3232 1.89496 32.2994 1.70791 33.3399 1.70791C34.544 1.70791 35.643 1.95926 36.6367 2.46197C37.6421 2.96468 38.478 3.61937 39.1444 4.42604L37.268 6.35503C36.8354 5.73541 36.2743 5.23855 35.5845 4.86444C34.9065 4.47864 34.1582 4.28575 33.3399 4.28575C32.6852 4.28575 32.0656 4.41434 31.481 4.67154C30.9082 4.91705 30.4055 5.25609 29.9729 5.68865C29.5403 6.10952 29.1955 6.60638 28.9383 7.17924C28.6928 7.7404 28.57 8.34248 28.57 8.98548C28.57 9.61678 28.6928 10.2189 28.9383 10.7917C29.1955 11.3529 29.5403 11.8497 29.9729 12.2823C30.4055 12.7032 30.9082 13.0422 31.481 13.2994C32.0656 13.5449 32.6852 13.6677 33.3399 13.6677C34.205 13.6677 34.9708 13.4748 35.6371 13.089C36.3035 12.6915 36.8588 12.1712 37.3031 11.5282L39.197 13.4748ZM48.4829 16H45.9401V15.4564C45.4959 15.7603 45.0224 15.9708 44.5197 16.0877C44.0287 16.2046 43.5201 16.263 42.994 16.263C42.503 16.263 42.0588 16.1871 41.6613 16.0351C41.2638 15.8948 40.9189 15.6902 40.6266 15.4213C40.3343 15.1407 40.1064 14.8134 39.9427 14.4393C39.7907 14.0652 39.7147 13.6501 39.7147 13.1942C39.7147 12.6213 39.8375 12.1245 40.083 11.7036C40.3402 11.271 40.6851 10.9145 41.1176 10.6339C41.5502 10.3416 42.0529 10.1253 42.6258 9.98505C43.2103 9.84476 43.8358 9.77461 44.5021 9.77461H45.9577C45.9577 9.17838 45.7648 8.7049 45.379 8.35417C44.9932 8.00344 44.4378 7.82808 43.713 7.82808C43.3623 7.82808 42.9999 7.89238 42.6258 8.02098C42.2517 8.14958 41.8775 8.3834 41.5034 8.72243L40.0129 7.21431C40.5506 6.69991 41.1702 6.30242 41.8717 6.02184C42.5848 5.74126 43.3155 5.60097 44.0637 5.60097C44.7652 5.60097 45.3907 5.71203 45.9401 5.93416C46.4896 6.15629 46.9338 6.44271 47.2729 6.79344C47.7171 7.23769 48.0269 7.73455 48.2023 8.28402C48.3894 8.8335 48.4829 9.53495 48.4829 10.3884V16ZM45.9401 13.4748V11.5984H44.7827C44.432 11.5984 44.0988 11.6218 43.7832 11.6685C43.4792 11.7153 43.2103 11.7971 42.9765 11.914C42.7544 12.0193 42.5732 12.1595 42.4329 12.3349C42.3043 12.5103 42.24 12.7207 42.24 12.9662C42.24 13.3169 42.3744 13.6034 42.6433 13.8255C42.9239 14.0476 43.2804 14.1587 43.713 14.1587C44.0871 14.1587 44.4554 14.1002 44.8178 13.9833C45.1919 13.8664 45.566 13.6969 45.9401 13.4748ZM57.7084 6.91619L56.3581 9.05562C56.1126 8.78673 55.8378 8.55291 55.5339 8.35417C55.2416 8.14373 54.9435 8.03852 54.6395 8.03852C54.4758 8.03852 54.2946 8.07943 54.0959 8.16127C53.9088 8.23142 53.7276 8.35417 53.5523 8.52953C53.3886 8.7049 53.2483 8.93871 53.1314 9.23098C53.0145 9.51157 52.956 9.86229 52.956 10.2832V16H50.4133V5.86401H52.956V6.95126C53.26 6.5187 53.5932 6.18551 53.9556 5.9517C54.3297 5.71788 54.7447 5.60097 55.2007 5.60097C55.6449 5.60097 56.0775 5.72372 56.4984 5.96923C56.9309 6.20305 57.3342 6.5187 57.7084 6.91619ZM65.8771 6.91619L64.5268 9.05562C64.2813 8.78673 64.0066 8.55291 63.7026 8.35417C63.4104 8.14373 63.1122 8.03852 62.8083 8.03852C62.6446 8.03852 62.4634 8.07943 62.2646 8.16127C62.0776 8.23142 61.8964 8.35417 61.721 8.52953C61.5573 8.7049 61.4171 8.93871 61.3001 9.23098C61.1832 9.51157 61.1248 9.86229 61.1248 10.2832V16H58.582V5.86401H61.1248V6.95126C61.4287 6.5187 61.7619 6.18551 62.1244 5.9517C62.4985 5.71788 62.9135 5.60097 63.3694 5.60097C63.8137 5.60097 64.2462 5.72372 64.6671 5.96923C65.0997 6.20305 65.503 6.5187 65.8771 6.91619ZM69.3812 4.09285H66.7508V1.4624H69.3812V4.09285ZM69.3462 16H66.7859V5.84648H69.3462V16ZM77.3124 15.772C77.0552 15.9357 76.7571 16.0585 76.4181 16.1403C76.0791 16.2221 75.74 16.263 75.401 16.263C74.8047 16.263 74.302 16.1871 73.8929 16.0351C73.4837 15.8948 73.1563 15.6727 72.9108 15.3687C72.6653 15.0647 72.4841 14.6789 72.3672 14.2113C72.262 13.7437 72.2094 13.1942 72.2094 12.5629V8.1262H70.8766V6.98634C71.695 6.6473 72.3555 6.14459 72.8582 5.47821C73.3726 4.81184 73.7233 3.94671 73.9104 2.88284H74.7346V5.84648H77.2949V8.1262H74.7346V12.7382C74.7346 12.9954 74.7638 13.2059 74.8223 13.3696C74.8924 13.5332 74.9801 13.6618 75.0853 13.7554C75.1905 13.8489 75.3075 13.9132 75.4361 13.9483C75.5763 13.9833 75.7225 14.0009 75.8745 14.0009C76.0732 14.0009 76.3129 13.9658 76.5935 13.8956C76.874 13.8255 77.1137 13.7086 77.3124 13.5449V15.772ZM89.2762 10.932C89.2762 11.6919 89.1359 12.3992 88.8553 13.0539C88.5747 13.6969 88.1889 14.2581 87.6979 14.7374C87.2069 15.205 86.6282 15.5791 85.9618 15.8597C85.3071 16.1286 84.6057 16.263 83.8575 16.263C83.1092 16.263 82.4078 16.1286 81.7531 15.8597C81.0984 15.5791 80.5256 15.1992 80.0345 14.7198C79.5435 14.2405 79.1577 13.6794 78.8771 13.0364C78.5966 12.3817 78.4563 11.6802 78.4563 10.932C78.4563 10.1955 78.5966 9.50572 78.8771 8.86272C79.1694 8.20803 79.5611 7.64103 80.0521 7.1617C80.5431 6.67068 81.1159 6.29073 81.7706 6.02184C82.4253 5.74126 83.1209 5.60097 83.8575 5.60097C84.6057 5.60097 85.3071 5.74126 85.9618 6.02184C86.6282 6.29073 87.2069 6.66484 87.6979 7.14416C88.1889 7.6118 88.5747 8.17296 88.8553 8.82765C89.1359 9.48234 89.2762 10.1838 89.2762 10.932ZM86.7509 10.932C86.7509 10.4994 86.675 10.0961 86.523 9.722C86.371 9.34789 86.1606 9.02055 85.8917 8.73997C85.6345 8.45939 85.3305 8.24311 84.9798 8.09112C84.6291 7.92745 84.2549 7.84562 83.8575 7.84562C83.46 7.84562 83.0859 7.92745 82.7351 8.09112C82.3844 8.24311 82.0746 8.45939 81.8057 8.73997C81.5485 9.02055 81.3439 9.34789 81.1919 9.722C81.04 10.0961 80.964 10.4994 80.964 10.932C80.964 11.3646 81.04 11.7679 81.1919 12.142C81.3439 12.5161 81.5485 12.8435 81.8057 13.124C82.0746 13.4046 82.3844 13.6268 82.7351 13.7904C83.0859 13.9424 83.46 14.0184 83.8575 14.0184C84.2549 14.0184 84.6291 13.9424 84.9798 13.7904C85.3305 13.6268 85.6345 13.4046 85.8917 13.124C86.1606 12.8435 86.371 12.5161 86.523 12.142C86.675 11.7679 86.7509 11.3646 86.7509 10.932Z" fill="%23BA1D2E"/><path d="M1.00098 5.65527L11.5972 16.2515" stroke="%23BA1D2E" stroke-width="1.88318" stroke-linecap="round"/><path d="M11.5962 5.65527L0.999921 16.2515" stroke="%23BA1D2E" stroke-width="1.88318" stroke-linecap="round"/></svg>');
    position: absolute;
    visibility: visible;
}

.minicartSummary {
    padding: 39.9px 23.28px 19.95px;
}

.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    margin: 0;
}

.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):first-child,
.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):first-child :global(.vtex-checkout-summary-0-x-price) {
    color: #000;
    font-size: 14.982px;
    font-family: Keep Calm;
}

.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child,
.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child :global(.vtex-checkout-summary-0-x-price) {
    color: #000;
    font-size: 19.664px;
    font-family: Keep Calm;
    margin-top: 25.27px;
    padding: 0%;
}

.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    text-align: center;
    color: #000;
    font-size: 16.855px;
    font-family: Avenir;
    line-height: 168.7%;
    margin: 0px;
}

.minicartCheckoutButton {
    align-items: center;
    display: flex;
    justify-content: center;
}

.minicartCheckoutButton :global(.vtex-button) {
    background: #BA1D2E;
    border: none;
    width: 295.164px;
    height: 45.96px;
    padding: 14.982px;

    text-transform: initial;
    color: #FFF;
    font-size: 13.109px;
    font-family: Keep Calm;
}

.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label)::after {
    content: "Iniciar pago";
    text-transform: initial;
    color: #FFF;
    font-size: 13.109px;
    font-family: Keep Calm;
}

@media (min-width: 1024px) {
    .minicartCheckoutButton :global(.vtex-button) {
        width: 380.164px;
        height: 45.96px;
    }

    .closeIconButton {
        left: 15px;
    }
}