.paragraph--faq-title {
    color: #000;
    font-family: Keep Calm;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.paragraph--faq-subtitle {
    color: #000;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrapper--faq-question-title {
    width: 100%;
}

.paragraph--faq-question-title {
    align-items: center;
    display: flex;
    font-family: Keep Calm;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: space-between;
    line-height: normal;
}

:global(.vtex-disclosure-layout-1-x-trigger--visible) .paragraph--faq-question-title {
    color: #000;    
}

:global(.vtex-disclosure-layout-1-x-trigger--visible) .paragraph--faq-question-title::after {
    content: url('data:image/svg+xml,<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 11L10.5 2L1 11" stroke="%23BA1D2E" stroke-width="2"/></svg>');
}

:global(.vtex-disclosure-layout-1-x-trigger--hidden) .paragraph--faq-question-title {
    color: #6B6B6B;
}

:global(.vtex-disclosure-layout-1-x-trigger--hidden) .paragraph--faq-question-title::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12" fill="none"><path d="M20 1L10.5 10L1 1" stroke="black" stroke-width="2"/></svg>');
}

.paragraph--faq-question-answer {
    color: #000;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link--faq-question-answer {
    color: #BA1D2E;
}

@media (min-width: 1024px) {
    .paragraph--faq-title {
        font-size: 24px;
    }
}