/* Keep Calm */
@font-face {
  font-family: "Keep Calm";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("KeepCalm"), local("KeepCalm-Medium"),
    url("assets/fonts/KeepCalm-Medium.woff2") format("woff2"),
    url("assets/fonts/KeepCalm-Medium.woff") format("woff");
}

/* Hey November */
@font-face {
  font-family: "Hey November";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Hey November"), local("HeyNovember"),
    url("assets/fonts/hey-november.woff2") format("woff2");
}

/* CHE Guevara */
@font-face {
  font-family: "CHE";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("CHE"), local("Che Guevara Barry"), local("CheGuevaraBarry"),
    url("assets/fonts/CheGuevaraBarry-Brown.woff") format("woff");
}

/* **************************************************************************************************************************************************** */
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Book"),
    url("assets/fonts/Avenir-Book.woff") format("woff"),
    url("assets/fonts/Avenir-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Roman"),
    url("assets/fonts/Avenir-Roman.woff") format("woff"),
    url("assets/fonts/Avenir-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Medium"),
    url("assets/fonts/Avenir-Medium.woff") format("woff"),
    url("assets/fonts/Avenir-Medium.woff2") format("woff2");
}


@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Avenir"), local("Avenir-Black"),
    url("assets/fonts/Avenir-Black.woff") format("woff"),
    url("assets/fonts/Avenir-Black.woff2") format("woff2");
}
